@media (min-width: 1200px){
    .glider{
       margin: 0px 5%;
    }
    .cartera1{
        width: 10%;
    }
    .principal{
        margin: 0 5%;
    }
    .image{
        height: 80px;
   }
}
